<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.Lylasolutions.aaa"
    versionCode="1"
    version   = "1.0.0">
  <preference name="phonegap-version" value="2.9.0" />
  <!-- versionCode is optional and Android only -->

  <name>Lylasolutions</name>

  <description>
   Lylasolutions
  </description>

  <author href="http://www.lylasolutions.org/" email="rizwan.2bv@gmail.com">
    Rizwan Sajid
  </author>

</widget>
